<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Video_21_ParallelExecutionWithDataProviderUsingThreadCount">
    <classes>
      <class name="package9.Video_21_ParralelExecutionWithDataProviderInTestNg"/>
    </classes>
  </test> <!-- Video_21_ParallelExecutionWithDataProviderUsingThreadCount -->
</suite> <!-- Suite -->
